@{
    ViewData["Title"] = "Trang chủ";
}

@model IEnumerable<DanhSachYeuThich>

@if (Model != null && Model.Count() != 0)
{
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">Danh sách yêu thích</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- wishlist-product start -->
    <section class="wishlist-product section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- wishlist-page start -->
                    <div class="wishlist-page">
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <div class="wishlist-item">
                                    <span class="wishlist-head">Danh sách yêu thích của tôi:</span>
                                    <span class="sp-link-title">@Model.Count() Sản phẩm</span>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model) {
                            <div class="wishlist-area">
                                <div class="wishlist-details">
                                    <div class="wishlist-all-pro">
                                        <div class="wishlist-pro">
                                            <div class="wishlist-pro-image">
                                                <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" asp-route-id="@(item.SanPhamId)" class="product-link">
                                                    <img style="width: 120px; height: 110px; border-radius: 5px; object-fit: cover; transition: opacity 0.5s ease-in-out; opacity: 1;"
                                                         src="@item.SanPham.HinhAnhs.FirstOrDefault().LinkAnh" class="img-fluid img-primary" alt="p-2">

                                                </a>
                                            </div>
                                            <div class="pro-details">
                                                <h6>
                                                    <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" asp-route-id="@(item.SanPhamId)">@(item.SanPham.TenSanPham)</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="qty-item">
                                            <a href="javascript:void(0)" onclick="addToCart(@item.SanPhamId,null,1,'@SD.ObjectDetailOrder_SanPham')" class="add-wishlist">Thêm vào giỏ hàng</a>
                                            <a href="/Customer/Payment/Index" class="add-wishlist">Mua ngay</a>
                                        </div>
                                        <div class="all-pro-price">
                                            <div class="price-box">
                                                <span class="new-price">@(String.Format("{0:n0}",item.SanPham.Gia)) VNĐ</span>
                                            </div>
                                            <span class="wishalist-icon"><i class="fa fa-heart text-danger"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- wishlist-page end -->
                </div>
            </div>
        </div>
    </section>
    <!-- wishlist-product end -->
} else
{
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">Danh sách yêu thích</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- Wishlist empty start -->
    <section class="cart-page section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="empty-cart-page">
                        <div class="section-capture">
                            <div class="section-title">
                                <h2><span>Danh sách yêu thích trống</span></h2>
                                <p>Rất tiếc, danh sách yêu thích của bạn hiện tại không có sản phẩm nào, nhấp vào 'tại đây' bên dưới để tiếp tục duyệt.</p>
                                <p>
                                    Tiếp tục duyệt
                                    <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">tại đây</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
