@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">Tài khoản</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- customer-page start -->
<section class="customer-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- tiêu đề đăng nhập tài khoản bắt đầu -->
                <div class="section-capture">
                    <div class="section-title">
                        <h2><span>Đăng nhập tài khoản</span></h2>
                    </div>
                </div>
                <!-- tiêu đề đăng nhập tài khoản kết thúc -->
                <!-- bắt đầu đăng nhập tài khoản -->
                <div class="log-acc-page">
                    <div class="contact-form-list">
                        <form method="post">
                            <ul class="form-fill">
                                <li class="form-fill-li Email">
                                    <label>Địa chỉ Email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Địa chỉ Email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </li>
                                <li class="form-fill-li Password">
                                    <label>Mật khẩu</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Mật khẩu">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </li>
                            </ul>
                            <div class="form-action-button">
                                <div class="button-forget">
                                    <button type="submit" class="btn btn-style2">Đăng nhập</button>
                                    <a asp-page="./ForgotPassword">Quên mật khẩu?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="acc-wrapper">
                        <h6>Bạn đã có tài khoản chưa?</h6>
                        <div class="account-optional">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" >Tạo tài khoản mới</a>
                        </div>
                    </div>
                    <div class="acc-wrapper">
                        <h6>Bạn là nhân viên?</h6>
                        <div class="account-optional">
                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-typeUser="employee">Đăng nhập ở đây</a>
                        </div>
                    </div>
                </div>
                <!-- kết thúc đăng nhập tài khoản -->
            </div>
            <div class="col-md-12 text-center pt-4">
                <section>
                    <h3>Sử dụng dịch vụ khác để đăng nhập.</h3>
                    <hr />
                    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                Không có dịch vụ xác thực bên ngoài nào được cấu hình. Xem bài viết này <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    hướng dẫn về cách thiết lập ứng dụng ASP.NET này
                                </a> để hỗ trợ đăng nhập qua các dịch vụ bên ngoài.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng tài khoản @provider.DisplayName">
                                            @provider.DisplayName
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                </section>
            </div>

        </div>
    </div>
</section>
<!-- customer-page end -->



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
