@using B3cBonsai.Models
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<ul class="profile-ul">
    <li class="profile-li">
        <a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Thông tin tài khoản</a>
    </li>
    <li class="profile-li">
        <a class="@ManageNavPages.ClientOrderNavClass(ViewContext)" id="client-order" asp-page="./ClientOrder">Đơn hàng cá nhân</a>
    </li>
    <li class="profile-li">
        <a class="@ManageNavPages.ClientCommentNavClass(ViewContext)" id="client-comment" asp-page="./ClientComment">Bình luận của bạn</a>
    </li>
    <li class="profile-li">
        <a class="@ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    </li>
    <li class="profile-li">
        <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Mật khẩu</a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="profile-li">
            <a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">Đăng nhập bên thứ 3</a>
        </li>
    }
    @* <li class="profile-li">
        <a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Xác thực 2 yếu tố</a>
    </li>
    <li class="profile-li">
        <a class="@ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Thông tin cá nhân</a>
    </li> *@
</ul>