@model IEnumerable<B3cBonsai.Models.SanPham>


<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-ul">
                        <li class="breadcrumb-li">
                            <a class="breadcrumb-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Cửa hàng </a>
                        </li>
                        <li class="breadcrumb-li">
                            <span class="breadcrumb-text">
                                Bộ sưu tập còn lại
                            </span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- collection start -->
<section class="main-content-wrap shop-page section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="pro-grli-wrapper left-side-wrap">
                    <div class="pro-grli-wrap product-grid">
                        <div class="collection-img-wrap">
                            <h6 class="st-title">
                                Bộ sưu tập còn lại (23)
                            </h6>
                            <!-- collection info start -->
                            <div class="collection-info">
                                <div class="collection-image">
                                    <img src="~/customer/img/banner/sall-banner.jpg" class="img-fluid" alt="sall-banner">
                                </div>
                            </div>
                            <!-- collection info end -->
                        </div>
                        <!-- shop-top-bar start -->
                        <div class="shop-top-bar">
                            <div class="product-filter without-sidebar">
                                <button class="filter-button" type="button"><i class="fa-solid fa-filter"></i><span>Lọc</span></button>
                            </div>
                            <div class="product-view-mode">
                                <!-- shop-item-filter-list bắt đầu -->
                                <a href="javascript:void(0)" class="list-change-view grid-three active" data-grid-view="3"><i class="fa-solid fa-border-all"></i></a>
                                <a href="javascript:void(0)" data-grid-view="1" class="list-change-view list-one"><i class="fa-solid fa-list"></i></a>
                                <!-- shop-item-filter-list kết thúc -->
                            </div>
                            <!-- product-short bắt đầu -->
                            <div class="product-short">
                                <label for="SortBy">Sắp xếp theo:</label>
                                <select class="nice-select" name="sortby" id="SortBy">
                                    <option value="manual">Nổi bật</option>
                                    <option value="best-selling">Bán chạy nhất</option>
                                    <option value="title-ascending">Theo tên, A-Z</option>
                                    <option value="title-descending">Theo tên, Z-A</option>
                                    <option value="price-ascending">Theo giá, thấp đến cao</option>
                                    <option value="price-descending">Theo giá, cao đến thấp</option>
                                    <option value="created-descending">Theo ngày, mới đến cũ</option>
                                    <option value="created-ascending">Theo ngày, cũ đến mới</option>
                                </select>
                                <a href="javascript:void(0)" class="short-title">
                                    <span class="sort-title">Bán chạy nhất</span>
                                    <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <a href="javascript:void(0)" class="short-title short-title-lg">
                                    <span class="sort-title">Bán chạy nhất</span>
                                    <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <ul class="pro-ul collapse">
                                    <li class="pro-li"><a href="javascript:void(0)">Nổi bật</a></li>
                                    <li class="pro-li selected"><a href="javascript:void(0)">Bán chạy nhất</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo tên, A-Z</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo tên, Z-A</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo giá, thấp đến cao</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo giá, cao đến thấp</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo ngày, mới đến cũ</a></li>
                                    <li class="pro-li"><a href="javascript:void(0)">Theo ngày, cũ đến mới</a></li>
                                </ul>
                            </div>
                            <!-- product-short end -->
                        </div>
                        <!-- shop-top-bar end -->
                        <!-- special-product start -->
                        <div class="special-product grid-3">
                            <div class="collection-category">
                                <div class="row">
                                    <div class="col">
                                        <div class="collection-wrap">
                                            <ul class="product-view-ul">
                                                @foreach (var product in Model)
                                                {
                                                    <li class="pro-item-li">
                                                        <div class="single-product-wrap">
                                                            <div class="product-image banner-hover">
                                                                <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail" asp-route-id="@product.Id" class="pro-img">
                                                                    <img src="@(product.HinhAnhs.FirstOrDefault()?.LinkAnh ?? @Url.Content("~/images/product/default/jpg") )" class="img-fluid img1 mobile-img1" alt="p1" style="width: 300px; height: 300px; object-fit: contain;">
                                                                    <img src="@(product.HinhAnhs.Skip(1).FirstOrDefault()?.LinkAnh ?? @Url.Content("~/images/product/default/jpg") )" class="img-fluid img2 mobile-img2" alt="p2" style="width: 300px; height: 300px; object-fit: contain;">

                                                                </a>
                                                                <div class="product-action product-cart-btn">
                                                                    <a href="#add-to-cart" class="add-to-cart">
                                                                        <span class="cart-title">
                                                                            <span class="add-c-title">
                                                                                <span class="tooltip-text">Thêm vào giỏ</span>
                                                                                <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                                                <span class="add-title">Thêm vào giỏ</span>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="product-action">
                                                                    <a href="/Customer/Wishlist/Index" class="wishlist">
                                                                        <span class="tooltip-text">Yêu thích</span>
                                                                        <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                                    </a>
                                                                    <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                                        <span class="tooltip-text">
                                                                            Xem nhanh
                                                                        </span>
                                                                        <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-content">
                                                                    <div class="product-title">
                                                                        <div class="pro-title-price">
                                                                            <h6><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Detail">@product.TenSanPham</a></h6>
                                                                            <div class="product-price">
                                                                                <div class="price-box">
                                                                                    <span class="new-price">@product.Gia VND</span>
                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a class="product-type" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Số lượng: @product.SoLuong</a>
                                                                            <a class="product-vendor" asp-area="Customer" asp-controller="ClientProduct" asp-action="Index">Panno</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-ratting">
                                                                        <span class="pro-ratting">
                                                                            <i class="fa-regular fa-star"></i>
                                                                            <i class="fa-regular fa-star"></i>
                                                                            <i class="fa-regular fa-star"></i>
                                                                            <i class="fa-regular fa-star"></i>
                                                                            <i class="fa-regular fa-star"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="product-description">
                                                                        <p>Mô tả: @product.MoTa</p>
                                                                    </div>
                                                                    <div class="product-action">
                                                                        <a href="#quickview" class="quickview" data-bs-toggle="modal" data-bs-target="#quickview">
                                                                            <span class="tooltip-text">Xem nhanh</span>
                                                                            <span class="pro-action-icon"><i class="feather-eye"></i></span>
                                                                        </a>
                                                                        <a href="#add-to-cart" class="add-to-cart">
                                                                            <span class="cart-title">
                                                                                <span class="add-c-title">
                                                                                    <span class="tooltip-text">Thêm vào giỏ</span>
                                                                                    <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                                                    <span class="add-title">Thêm vào giỏ</span>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                        <a href="/Customer/Wishlist/Index" class="wishlist">
                                                                            <span class="tooltip-text">Yêu thích</span>
                                                                            <span class="pro-action-icon"><i class="feather-heart"></i></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }


                                            </ul>
                                        </div>
                                        <div class="paginatoin-area">
                                            <ul class="pagination-page-box">
                                                <li class="number active"><a href="javascript:void(0)" class="theme-glink">1</a></li>
                                                <li class="number"><a href="javascript:void(0)" class="gradient-text">2</a></li>
                                                <li class="page-next"><a href="javascript:void(0)" class="theme-glink"><i class="fa -solid fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro-grli-wrap product-sidebar">
                        <div class="pro-grid-block">
                            <div class="shop-sidebar-inner">
                                <div class="shop-sidebar-wrap filter-sidebar">
                                    <!-- button start -->
                                    <button class="close-sidebar" type="button">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    <!-- button end -->
                                    <!-- filter-form start -->
                                    <div class="facets">
                                        <form class="facets-form">
                                            <div class="facets-wrapper">
                                                <!-- Product-Categories start -->
                                                <div class="shop-sidebar">
                                                    <h6 class="shop-title">Thể loại</h6>
                                                    <a href="#collapse-5" data-bs-toggle="collapse" class="shop-title shop-title-lg">Thể loại<i class="fa fa-angle-down"></i></a>
                                                    <div class="collapse show shop-element" id="collapse-5">
                                                        <ul class="brand-ul scrollbar">
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label">
                                                                    <input type="checkbox" class="cust-checkbox">
                                                                    <span class="check-name">Cỏ lúa mì</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label">
                                                                    <input type="checkbox" class="cust-checkbox">
                                                                    <span class="check-name">
                                                                        Lâu đài xương rồng
                                                                    </span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 64gb">
                                                                    <input type="checkbox" value="64gb" class="cust-checkbox">
                                                                    <span class="check-name">Cọ cau</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 500gb">
                                                                    <input type="checkbox" value="500gb" class="cust-checkbox">
                                                                    <span class="check-name">Bộ sưu tập</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 1tb">
                                                                    <input type="checkbox" value="1tb" class="cust-checkbox">
                                                                    <span class="check-name">
                                                                        Bộ sưu tập còn lại
                                                                    </span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 2tb">
                                                                    <input type="checkbox" value="2tb" class="cust-checkbox">
                                                                    <span class="check-name">Danh sách bộ sưu tập</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">Danh sách bộ sưu tập còn lại</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">Quyền thu thập</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">Cây rắn</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">Strelitzia nicolai</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">cây Nicolai</span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="cat-checkbox">
                                                                <label class="checkbox-label 3tb">
                                                                    <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                    <span class="check-name">
                                                                        Cây lô hội
                                                                    </span>
                                                                    <span class="count-check">(12)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- Product-Categories end -->
                                                <div class="shop-sidebar sidebar-filter">
                                                    <h6 class="shop-title">Filter</h6>
                                                    <a href="javascript:void(0)" class="shop-title shop-title-lg">
                                                        Lọc
                                                    </a>
                                                    <div class="filter-info">
                                                        <span class="filter-count-text">
                                                            23 sản phẩm
                                                        </span>
                                                        <span class="loading-spinner"><svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg></span>
                                                    </div>
                                                </div>
                                                <div class="shop-sidebar sidebar-price">
                                                    <h6 class="shop-title">Giá</h6>
                                                    <a href="#collapse-3" data-bs-toggle="collapse" class="shop-title shop-title-lg">Giá</a>
                                                    <div class="filter-info">
                                                        <span class="shop-price">Giá cao nhất là 1000000 VND</span>
                                                        <facet-remove><a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="reset-text">Đặt lại</a></facet-remove>
                                                    </div>
                                                    <!-- Product-price start -->
                                                    <div class="collapse price-wrap" id="collapse-3">
                                                        <price-range class="price-range">
                                                            <div class="price-range-group group-range">
                                                                <input type="range" class="range" min="0" max="2100000" value="0" id="range1">
                                                                <input type="range" class="range" min="0" max="2100000" value="2100000" id="range2">
                                                            </div>
                                                            <div class="price-input-group group-input">
                                                                <div class="price-range-input input-price">
                                                                    <label class="label-text">Từ</label>
                                                                    <span class="price-value">₫</span>
                                                                    <span id="demo1" class="price-field">0</span>
                                                                </div>
                                                                <span class="price-range-delimeter">-</span>
                                                                <div class="price-range-input input-price">
                                                                    <label class="label-text">Đến</label>
                                                                    <span class="price-value">₫</span>
                                                                    <span id="demo2" class="price-field">2,100,000</span>
                                                                </div>
                                                            </div>
                                                        </price-range>
                                                    </div>

                                                    <!-- Product-price end -->
                                                    <!-- product-type start -->
                                                    <div class="shop-sidebar sidebar-open">
                                                        <h6 class="shop-title">Màu sắc</h6>
                                                        <a href="#collapse-6" data-bs-toggle="collapse" class="shop-title shop-title-lg">Màu sắc<i class="fa fa-angle-down"></i></a>
                                                        <div class="filter-info">
                                                            <span class="shop-price">0 đã chọn</span>
                                                            <facet-remove>
                                                                <a href="collection-list-right.html" class="reset-text">Đặt lại</a>
                                                            </facet-remove>
                                                        </div>
                                                        <div class="collapse shop-element shop-flavor" id="collapse-6">
                                                            <ul class="brand-ul scrollbar">
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 16gb">
                                                                        <input type="checkbox" value="16gb" class="cust-checkbox">
                                                                        <span class="check-name">Cỏ lúa mì</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 32gb">
                                                                        <input type="checkbox" value="32gb" class="cust-checkbox">
                                                                        <span class="check-name">Xương rồng lâu năm</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 64gb">
                                                                        <input type="checkbox" value="64gb" class="cust-checkbox">
                                                                        <span class="check-name">Cây cọ Areca</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 500gb">
                                                                        <input type="checkbox" value="500gb" class="cust-checkbox">
                                                                        <span class="check-name">Bộ sưu tập</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 1tb">
                                                                        <input type="checkbox" value="1tb" class="cust-checkbox">
                                                                        <span class="check-name">Bộ sưu tập trái</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 2tb">
                                                                        <input type="checkbox" value="2tb" class="cust-checkbox">
                                                                        <span class="check-name">Danh sách bộ sưu tập</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 3tb">
                                                                        <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                        <span class="check-name">Danh sách bộ sưu tập trái</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 3tb">
                                                                        <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                        <span class="check-name">Cây rắn</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 3tb">
                                                                        <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                        <span class="check-name">Cây Nicolai</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 3tb">
                                                                        <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                        <span class="check-name">Strelitzia Nicolai</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                                <li class="cat-checkbox">
                                                                    <label class="checkbox-label 3tb">
                                                                        <input type="checkbox" value="3tb" class="cust-checkbox">
                                                                        <span class="check-name">Cây lô hội</span>
                                                                        <span class="count-check">(12)</span>
                                                                        <span class="cust-check"></span>
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <!-- product-type end -->
                                                </div>
                                                <div class="shop-sidebar sidebar-product">
                                                    <h6 class="shop-title">Loại sản phẩm</h6>
                                                    <a href="#reset" data-bs-toggle="collapse" class="shop-title shop-title-lg">Loại sản phẩm</a>
                                                    <div class="filter-info">
                                                        <span class="shop-price no-js-hidden">0 đã chọn</span>
                                                        <facet-remove>
                                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="reset-text">Đặt lại</a>
                                                        </facet-remove>
                                                    </div>
                                                    <div class="collapse filter-element" id="reset">
                                                        <ul class="brand-ul scrollbar">
                                                            <li class="brand-li">
                                                                <label class="cust-checkbox-label">
                                                                    <input type="checkbox" name="cust-checkbox" class="cust-checkbox">
                                                                    <span class="filter-name">Cây cối</span>
                                                                    <span class="count-check">(23)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="shop-sidebar sidebar-wedget">
                                                    <h6 class="shop-title">Tình trạng hàng hóa</h6>
                                                    <a href="#collapse-1" class="shop-title shop-title-lg" data-bs-toggle="collapse">Tình trạng hàng hóa</a>
                                                    <div class="filter-info">
                                                        <span class="shop-price no-js-hidden">0 đã chọn</span>
                                                        <facet-remove>
                                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="reset-text">Đặt lại</a>
                                                        </facet-remove>
                                                    </div>
                                                    <div class="collapse filter-element" id="collapse-1">
                                                        <ul class="brnad-ul scrollbar">
                                                            <li class="availability">
                                                                <label class="cust-checkbox-label availability in-stock">
                                                                    <input type="checkbox" name="filter.v.availability" value="1" class="cust-checkbox">
                                                                    <span class="filter-name">Có sẵn</span>
                                                                    <span class="count-check">(23)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                            <li class="availability">
                                                                <label class="cust-checkbox-label availability in-stock">
                                                                    <input type="checkbox" name="filter.v.availability" value="1" class="cust-checkbox">
                                                                    <span class="filter-name">Hết hàng</span>
                                                                    <span class="count-check">(1)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="shop-sidebar sidebar-wedget">
                                                    <h6 class="shop-title">Thương hiệu</h6>
                                                    <a href="#collapse-2" data-bs-toggle="collapse" class="shop-title shop-title-lg">Brand</a>
                                                    <div class="filter-info">
                                                        <span class="shop-price no-js-hidden">0 đã chọn</span>
                                                        <facet-remove>
                                                            <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="reset-text">Đặt lại</a>
                                                        </facet-remove>
                                                    </div>
                                                    <div class="collapse filter-element" id="collapse-2">
                                                        <ul class="brand-ul scrollbar">
                                                            <li class="brand-li">
                                                                <label class="cust-checkbox-label">
                                                                    <input type="checkbox" name="cust-checkbox" class="cust-checkbox">
                                                                    <span class="filter-name">Panno</span>
                                                                    <span class="count-check">(23)</span>
                                                                    <span class="cust-check"></span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- filter-form end -->
                                </div>
                            </div>
                            <!-- sidebar img start -->
                            <div class="sidebar-banner banner-hover">
                                <a asp-area="Customer" asp-controller="ClientProduct" asp-action="Index" class="sidebar-img banner-img">
                                    <span class="sidebar-banner-image">
                                        <img src="~/customer/img/banner/side-banner.jpg" class="img-fluid" alt="side-banner">
                                    </span>
                                    <span class="sidebar-banner-icon"><i class="bi bi-arrow-right-short"></i></span>
                                </a>
                            </div>
                            <!-- sidebar img start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- collection end -->
