@model B3cBonsai.Models.SanPham

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="clearfix">
                    <div class="card card-bx profile-card author-profile m-b30">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="author-profile">
                                    <div class="author-media">
                                        <div style="height: 300px; overflow-y: auto;">
                                            <!-- Hiển thị hình ảnh từ HinhAnhs nếu có -->
                                            @if (Model.HinhAnhs != null && Model.HinhAnhs.Any())
                                            {
                                                foreach (var hinhAnh in Model.HinhAnhs)
                                                {
                                                    <img src="@hinhAnh.LinkAnh" alt="Hình ảnh sản phẩm" style="width: 100%; margin-bottom: 10px;" />
                                                }
                                            }
                                            else
                                            {
                                                <img src="~/images/product/default.jpg" alt="Hình ảnh sản phẩm mặc định" style="width: 100%; margin-bottom: 10px;" />
                                            }
                                        </div>
                                    </div>
                                    <div class="author-info">
                                        <h6 class="title">@Model.TenSanPham</h6>
                                        <span>Giá: @Model.Gia.ToString("N0") đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="card profile-card card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">Thông tin sản phẩm (Mã: @Model.Id)</h6>
                    </div>
                    <form class="profile-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="TenSanPham" class="form-label"></label>
                                    <input asp-for="TenSanPham" readonly class="form-control" />
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="Gia" class="form-label"></label>
                                    <input asp-for="Gia" type="text" readonly class="form-control" value="@Model.Gia.ToString("N0") đ" />
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="SoLuong" class="form-label"></label>
                                    <input asp-for="SoLuong" readonly class="form-control" />
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="TrangThai" class="form-label"></label>
                                    <input asp-for="TrangThai" type="text" readonly class="form-control" value="@(Model.TrangThai ? "Đang hoạt động" : "Ngừng hoạt động")" />
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="NgayTao" class="form-label"></label>
                                    <input asp-for="NgayTao" readonly class="form-control" />
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label asp-for="NgaySuaDoi" class="form-label"></label>
                                    <input asp-for="NgaySuaDoi" readonly class="form-control" />
                                </div>
                                <div class="col-sm-12 m-b30">
                                    <label asp-for="MoTa" class="form-label"></label>
                                    <div class="border rounded p-2" readonly>@Html.Raw(Model.MoTa)</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Đóng</button>
    <button type="button" class="btn btn-primary" id="deleteObject">Xóa đối tượng</button>
</div>