@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}


<div class="content-body">
	<!-- row -->
	<div class="page-titles">
		<ol class="breadcrumb">
			<li><h5 class="bc-title">Đơn hàng</h5></li>
			<li class="breadcrumb-item">
				<a href="javascript:void(0)">
					<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Trang chủ
				</a>
			</li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Quản lý đơn hàng</a></li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h5 class="mb-0">Đơn hàng</h5>
			<div class="d-flex align-items-center">
				<div class="icon-box  icon-box-sm task-tab me-2">
					<a asp-area="Employee" asp-controller="ManagerOrder" asp-action="OrderSummary">
						<svg width="20" height="20" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.50032 3H2.66699V8.83333H8.50032V3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M17.6668 3H11.8335V8.83333H17.6668V3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M17.6668 12.1667H11.8335V18H17.6668V12.1667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M8.50032 12.1667H2.66699V18H8.50032V12.1667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<div class="row task">
							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-primary count">@TempData["NotStartedCount"]</h2>
										<span>Chưa bắt đầu</span>
									</div>
									<p>Chưa bắt đầu</p>
								</div>
							</div>

							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-purple count">@TempData["InProgressCount"]</h2>
										<span>Đang xử lý</span>
									</div>
									<p>Đang xử lý</p>
								</div>
							</div>

							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-warning count">@TempData["TestingCount"]</h2>
										<span>Đang kiểm tra</span>
									</div>
									<p>Đang kiểm tra</p>
								</div>
							</div>

							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-danger count">@TempData["AwaitingCount"]</h2>
										<span>Đang chờ</span>
									</div>
									<p>Đang chờ</p>
								</div>
							</div>

							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-success count">@TempData["CompleteCount"]</h2>
										<span>Hoàn thành</span>
									</div>
									<p>Hoàn thành</p>
								</div>
							</div>

							<div class="col-xl-2 col-sm-4 col-6">
								<div class="task-summary">
									<div class="d-flex align-items-center">
										<h2 class="text-danger count">@TempData["PendingCount"]</h2>
										<span>Chờ thanh toán</span>
									</div>
									<p>Chờ thanh toán</p>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body p-0">
						<div class="table-responsive active-projects task-table">
							<div class="tbl-caption d-flex justify-content-between">
								<h4 class="heading mb-0">Đơn hàng</h4>
								<form asp-action="ExportOrders" 
													  tabindex="0"
													  aria-controls="reports-tbl"
													  type="button">
									<button type="submit" class="dt-button buttons-excel buttons-html5 btn btn-sm border-0"><i class="fa-solid fa-file-excel"></i> Xuất danh sách</button>
								</form>
							</div>
							<div class="table-responsive p-3 datatables">
								<table id="tableOrder" class="table display">
								<thead>
								</thead>
								<tbody></tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/js/employee/managerOrder.js" asp-append-version="true" ></script>
}