@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DonHang>

@{
	ViewData["Title"] = "Danh Sách Đơn Hàng";
	Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";

	// Hàm lọc đơn hàng theo trạng thái
	List<DonHang> FilterOrder(string statusOrder)
	{
		return Model.Where(dh => dh.TrangThaiDonHang == statusOrder).ToList();
	}

	// Các biến danh sách lọc theo trạng thái
	var pendingOrders = FilterOrder(SD.StatusPending);
	var approvedOrders = FilterOrder(SD.StatusApproved);
	var inProcessOrders = FilterOrder(SD.StatusInProcess);
	var shippedOrders = FilterOrder(SD.StatusShipped);
	var cancelledOrders = FilterOrder(SD.StatusCancelled);
	var refundedOrders = FilterOrder(SD.StatusRefunded);
}



<div class="content-body">
	<!-- row -->
	<div class="page-titles">
		<ol class="breadcrumb">
			<li><h5 class="bc-title">Đơn hàng</h5></li>
			<li class="breadcrumb-item">
				<a href="javascript:void(0)">
					<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Trang chủ
				</a>
			</li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Quản lý đơn hàng</a></li>
		</ol>
	</div>
	<div class="container-fluid">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h5 class="mb-0">Đơn hàng</h5>
			<div class="d-flex align-items-center">
				<div class="icon-box  icon-box-sm task-tab me-2">
					<a asp-area="Employee" asp-controller="ManagerOrder" asp-action="Index">
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.8335 5.5H17.6668" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M6.8335 10.5H17.6668" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M6.8335 15.5H17.6668" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M2.66699 5.5H2.67699" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M2.66699 10.5H2.67699" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M2.66699 15.5H2.67699" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="row kanban-bx">
			@foreach (var (orderList, title, color, count) in new[] {
			(pendingOrders, "Chưa duyệt", "info", pendingOrders.Count()),
			(approvedOrders, "Đã duyệt", "primary", approvedOrders.Count()),
			(inProcessOrders, "Đang xử lý", "warning", inProcessOrders.Count()),
			(shippedOrders, "Đã giao hàng", "success", shippedOrders.Count()),
			(cancelledOrders, "Đã hủy", "danger", cancelledOrders.Count()),
			(refundedOrders, "Đã hoàn tiền", "secondary", refundedOrders.Count())
			})
			{
				<div class="col">
					<div class="card kanbanPreview-bx">
						<div class="card-body draggable-zone dropzoneContainer">
							<div class="sub-card border-@color">
								<div class="sub-card-2">
									<div>
										<h5 class="mb-0">@title</h5>
										<span>Số đơn @title.ToLower(): @count</span>
									</div>
									<div class="icon-box bg-@color-light rounded-circle">
										<h5 class="text-@color totalCount">@count</h5>
									</div>
								</div>
							</div>
							@foreach (DonHang donHang in orderList)
							{
								<div class="sub-card draggable-handle draggable p-0">
									<div class="task-card-data">
										<div class="products">
											<div>
												<h6>Người nhận: @donHang.TenNguoiNhan </h6>
												<span>ID: @donHang.Id</span>
											</div>
										</div>
										<div class="avatar-list avatar-list-stacked my-2">
											@if (donHang.ChiTietDonHangs != null)
											{
												@foreach (var chiTietDonHang in donHang.ChiTietDonHangs)
												{
													if (chiTietDonHang.SanPham.HinhAnhs.Count > 0)
													{
														var firstImage = chiTietDonHang.SanPham.HinhAnhs.FirstOrDefault()?.LinkAnh;
														if (firstImage != null)
														{
															<img src="@firstImage" class="avatar rounded-circle" alt="">
														}
													}
												}
											}
										</div>
										<div class="d-flex align-items-center">
											<p class="mb-0 font-w500 text-secondary me-2">Trạng thái đơn hàng</p>
											<select class="default-select status-select form-control" asp-for="@donHang.TrangThaiDonHang" disabled>
												<option value="Pending">Đang chờ</option>
												<option value="Approved">Đã duyệt</option>
												<option value="Processing">Đang xử lý</option>
												<option value="Shipped">Đã giao hàng</option>
												<option value="Cancelled">Đã hủy</option>
												<option value="Refunded">Đã hoàn tiền</option>
											</select>
										</div>
									</div>
									<div class="card-footer d-flex align-items-center justify-content-between">
										<div class="footer-data">
											<span>Ngày đặt</span>
											<p>@donHang.NgayDatHang.ToString("dd/MM/yyyy")</p>
										</div>
										<div class="footer-data">
											<span>Ngày nhận</span>
											<p>@(donHang.NgayNhanHang?.ToString("dd/MM/yyyy") ?? "N/A")</p>
										</div>
										<div class="footer-data">
											<span class="d-block">Trạng thái thanh toán</span>
											<select class="default-select status-select form-control" asp-for="@donHang.TrangThaiThanhToan" disabled>
												<option value="Pending">Đang chờ</option>
												<option value="Approved">Đã duyệt</option>
												<option value="ApprovedForDelayedPayment">Thanh toán chậm</option>
												<option value="Rejected">Từ chối</option>
											</select>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			}

		</div>

	</div>
</div>

@section Scripts {
	<script src="~/js//employee/managerOrder.js"></script>
}