@using B3cBonsai.Utility
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Staff))
    {
        <li class="side-wrap user-wrap">
            <div class="user-wrapper">
                <a href="/Employee/EmployeeProfile/Index">
                    <span class="user-icon"><i class="feather-user"></i></span>
                </a>
            </div>
        </li>
    }
    else {
        <!-- Hiển thị tên người dùng và các mục điều hướng khi đã đăng nhập -->
        <li class="side-wrap user-wrap">
            <div class="user-wrapper">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <span class="user-icon"><i class="feather-user"></i></span>
                    @* Hello, @UserManager.GetUserName(User)! *@
                </a>
            </div>
        </li>
        <li class="side-wrap wishlist-wrap">
            <div class="wishlist-wrapper">
                <a asp-area="Customer" asp-controller="Wishlist" asp-action="Index">
                    <span class="wishlist-icon-count">
                        <span class="wishlist-icon"><i class="feather-heart"></i></span>
                         @* <span class="wishlist-count">5</span> *@
                    </span>
                </a>
            </div>
        </li>
        <li class="side-wrap cart-wrap">
            <div class="cart-wrapper">
                <a href="javascript:void(0)" class="js-cart-drawer">
                    <span class="cart-icon-count">
                        <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                        @* <span class="cart-count">4</span> *@
                    </span>
                </a>
            </div>
        </li>
    }
    <li class="ml-2 nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.016 7.38948V6.45648C15.016 4.42148 13.366 2.77148 11.331 2.77148H6.45597C4.42197 2.77148 2.77197 4.42148 2.77197 6.45648V17.5865C2.77197 19.6215 4.42197 21.2715 6.45597 21.2715H11.341C13.37 21.2715 15.016 19.6265 15.016 17.5975V16.6545" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M21.8096 12.0214H9.76855" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M18.8813 9.10626L21.8093 12.0213L18.8813 14.9373" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </form>
    </li>
}
else
{
    <!-- Hiển thị các tùy chọn Login và Register khi chưa đăng nhập -->
    <li class="side-wrap user-wrap">
        <div class="user-wrapper">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login" asp-route-viewAccess="@SD.CustomerAccess">
                <span class="user-icon"><i class="feather-user"></i></span>
            </a>
        </div>
    </li>
    @* <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"></a>
        </li> *@
    <!-- Wishlist và Cart vẫn hiển thị, nhưng có thể thêm logic ẩn/hiện nếu cần -->
    <li class="side-wrap wishlist-wrap">
        <div class="wishlist-wrapper">
            <a asp-area="Identity" asp-page="/Account/Login" asp-route-viewAccess="@SD.CustomerAccess">
                <span class="wishlist-icon-count">
                    <span class="wishlist-icon"><i class="feather-heart"></i></span>
                </span>
            </a>
        </div>
    </li>
    <li class="side-wrap cart-wrap">
        <div class="cart-wrapper">
            <a asp-area="Identity" asp-page="/Account/Login" asp-route-viewAccess="@SD.CustomerAccess" class="js-cart-drawer">
                <span class="cart-icon-count">
                    <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                </span>
            </a>
        </div>
    </li>
}
